/* 基本設定 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* スクロールバーを非表示にする */
}

/* ヘッダー */
h1 {
    margin-top: 20px;
    font-size: 24px;
}

/* 数字選択画面 */
#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.number-choice {
    padding: 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

/* 抽選ボタン */
#lottery-button {
    padding: 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    background-color: #28a745; /* 緑色 */
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* 数字ボタンコンテナ */
#number-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: nowrap; /* 横一列に並べる */
}

/* ボタンのスタイル */
button {
    padding: 20px; /* ボタンのサイズを大きく */
    font-size: 24px; /* フォントサイズも大きく */
    margin: 5px;
    cursor: pointer;
    user-select: none;
    background-color: #007bff; /* 背景色 */
    color: #fff; /* テキストカラー */
    border: none; /* ボーダーなし */
    border-radius: 8px; /* 角を丸く */
    transition: transform 0.1s ease; /* スワイプ時のトランジション */
}

/* スワイプ時の視覚的なフィードバック */
button.dragging {
    transform: translateY(-10px); /* 持ち上げているように見せる */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* シャドウで立体感を出す */
}

/* 結果表示エリア */
#result {
    margin-top: 20px;
    font-size: 18px;
}

/* 経過時間表示エリア */
#elapsed-time {
    margin-top: 10px;
    font-size: 18px;
}

/* クリアメッセージエリア */
#clear-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* 初期状態では非表示 */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* 半透明の背景 */
    color: #fff;
    z-index: 10; /* 前面に表示 */
    flex-direction: column;
    text-align: center;
}

/* クリア時間表示 */
#clear-time {
    font-size: 100px; /* クリア時間のフォントサイズを大きくする */
    margin-bottom: 20px; /* 下部マージンを追加 */
    font-weight: bold; /* 太字にして目立たせる */
}

/* チノちゃんの画像 */
#chino-image {
    max-width: 30%; /* 画像の最大幅を設定 */
    max-height: 30%; /* 画像の最大高さを設定 */
    object-fit: contain; /* 画像がアスペクト比を保ったまま全体に収まる */
    margin-top: 20px; /* 上部マージンを追加 */
    opacity: 0.3; /* 画像を薄くする */
    display: none; /* 初期状態では非表示 */
}

/* スロット表示エリア */
#slot-machine {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* リスタートボタン */
#restart-button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px; /* 上部マージンを追加して位置を調整 */
    z-index: 11; /* 画像の上に表示 */
}


